.column{
  column-count: 3;
  column-gap: 15px;
  column-width: 80px;

  }
.c {
    text-align: center;
    column-span: all;
  }
.tab {
  text-indent: 25px;
  }
.secTab {
  text-indent: -10px;
  margin-left: 10px;
  }
.secTab2 {
  text-indent: -10px;
  margin-left: 10px;
  margin-top: -10px;
  }
.nospace{
  margin-top: -10px;
  }
