.c {
    text-align: center;
  }
  html { color: black; background-color: white; text-align: center; font-family: sans-serif; }
  body { width: 1250px; margin: 0 auto 0 auto; text-align: left; padding: 5px; }

  header { width: 1250px; display: table; }
  nav { width: 300px; float: left; display: table; }
  article { width: 950px; display: table; } 
